{sub_dirs, [
    "apps/spr",
    "apps/webservice",
    "rel"
]}.

{deps_dir, "deps"}.
{deps, [
        {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
	{json_eep, ".*", {git, "git://github.com/mjanczyk/erlang-json-eep-parser.git", "master"}}
       ]}.

{require_otp_vsn, "R15B"}.

{erl_opts, [debug_info, fail_on_warning]}.

